################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VouViajar/.vs
/.vs
/VouViajar/VouViajar.ServiceBus.API/obj
